chest_xray/*
archive.zip
paste.py
multi_label_xray_model.h5
padchest_images/*
0.zip
padchest_labels.csv
old captioning.ipynb
src/*
florence_attempt/florence2_large
florence_attempt/florence2_large/*
florence_attempt/lightning_logs
outputs/*
florence_attempt/pretrained_model.pth
florence_attempt/saved_models/pretrained_model.pth
florence_attempt/saved_models/pretrained_model1.pth
florence_attempt/saved_models/pretrained_model2.pth
florence_attempt/aa_m/*
florence_attempt/florence_2_base_ft
florence_attempt/9a5094b2563a1ef3ff50dc5c7ff71345.png
florence_attempt/pretrained_model/*
florence_attempt/pretrained_processor/*
florence_attempt/fine_tuning_florence_example.ipynb
florence_attempt/logs/image/*
chest xray examples/*
