chest_xray/*
archive.zip
paste.py
multi_label_xray_model.h5
padchest_images/*
0.zip
padchest_labels.csv
old captioning.ipynb
src/*
florence_attempt/florence2_large
florence_attempt/florence2_large/*
florence_attempt/lightning_logs
outputs/*
florence_attempt/pretrained_model.pth
florence_attempt/saved_models/pretrained_model.pth
florence_attempt/saved_models/pretrained_model1.pth
florence_attempt/saved_models/pretrained_model2.pth
florence_attempt/aa_m/*
florence_attempt/florence_2_base_ft
florence_attempt/9a5094b2563a1ef3ff50dc5c7ff71345.png
florence_attempt/pretrained_model/*
florence_attempt/pretrained_processor/*
florence_attempt/fine_tuning_florence_example.ipynb
florence_attempt/logs/image/*
chest xray examples/*
classes distribution.png
florence_attempt/flor.py
/florence_attempt/model_checkpoints
output.png
/florence_attempt/before_training
florence_attempt/annotations_train.jsonl
florence_attempt/annotations_valid.jsonl
florence_attempt/train_original.csv
/florence_attempt/old_florence
padchest_labels_truncated.csv
florence_attempt/000d68e42b71d3eac10ccc077aba07c1.png
ensemble/ensemble copy.py
florence_attempt/7d5c70800f518f6584e25b2a88238a22.png
florence_attempt/4007175543191290349892200982275727462_qwczh2.png
florence_attempt/129492208729284763272775608927369489149_new.png
florence_attempt/129492208729284763272775608927369489149_i738fp.png
florence_attempt/128060267991587422580475423001969971705_pjiogk.png
maira-2/7d5c70800f518f6584e25b2a88238a22.png
maira-2/maira_2_example.py
maira-2/79e8d10895b6cd7b1fca87139719b63a.png
all_conf_matrix_florence.png
maira-2/paste2.py
maira-2/train_original.csv
maira-2/paste3.py
.vscode
__pycache__
