chest_xray/*
archive.zip
paste.py
multi_label_xray_model.h5
padchest_images/*
0.zip
padchest_labels.csv
old captioning.ipynb
src/*
florence_attempt/florence2_large
florence_attempt/florence2_large/*
florence_attempt/lightning_logs
